<!DOCTYPE html>
<html>
    <head>
        <title>LTI Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:if="${_csrf != null}">
            <meta name="_csrf" th:content="${_csrf.token}"/>        
            <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        </th:block>
    </head>
    <body>
        <h1>LTI Verification Success!</h1>
        <p>
            Hello, 
            <span th:text="${#authentication.getName()}"></span>
        </p>
        <div style="display: inline-block; width: 49%;">
            <p>/lti/p2</p>
            <iframe src="/lti/p2" width="100%" height="250px"></iframe>
        </div>
        <div style="display: inline-block; width: 49%;">
            <p>/notlti/p2</p>
            <iframe src="/notlti/p2" width="100%" height="250px"></iframe>
        </div>
        <p>
            <a href="/lti/p2">Clicky.</a>
        </p>
    </body>
</html>
